<div class="devise-container">
  <h2>Editar datos de usuario</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, 'Correo' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Confirma tu correo' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, 'Contraseña' %> <i>(deja en blanco si no quieres modificar tu contraseña)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Ingresa tu nueva contraseña' %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> caracteres minimos</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirma Contraseña' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirma tu nueva contraseña' %>
    </div>

    <div class="field">
      <%= f.label :current_password, 'Contraseña actual' %> <i>(necesitas ingresar tu contraseña para confirmar tus cambios)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Ingresa tu contraseña actual' %>
    </div>

    <div class="actions">
      <%= f.submit "Guardar", class: 'primary-btn' %>
    </div>
  <% end %>

  <h3>Eliminar cuenta</h3>

  <%= button_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "Estas por eliminar tu cuenta ¿Estas seguro?" }, method: :delete, class: 'secundary-button' %>

  <%= link_to "Back", :back %>
</div>
