<div class="form-container">
  <%= form_with(model: task, class: 'task-form') do |form| %>
    <% if task.errors.any? %>
      <div class="invalid-form alert alert-danger alert-dismissible fade show" role="alert" >
      <strong><span>Ha ocurrido un error:</span></strong><br>
      <aside>
        <% task.errors.each do |error| %>
          <span><%= error.message %></span><br>
        <% end %>
      </aside>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% end %>

    <header>
      <div class="field">
        <%= form.text_field :title, placeholder: 'Titulo de la tarea'  %>
      </div>
      <div class="field">
        <%= form.label :due_date, 'Fecha limite'%>
        <%= form.date_field :due_date %>
      </div>
    </header>

    <div class="field task-description">
      <%= form.text_area :description, required: true, placeholder: 'Descripción de la tarea'%>
    </div>

    <%# ¿Usamos select o usamos el calendario...? %>

    <div class="field task-priority">
      <%= form.label :priority, 'Prioridad' %>
      <%= form.select :priority, [["Baja", "low"], ["Media", "medium"], ["Alta", "high"]], {} %>
    </div>

    <div class="actions">
      <%= form.submit 'Guardar', class: 'primary-btn' %>
    </div>
  <% end %>
  <%= link_to 'Volver', tasks_path %>
</div>
