<div class="task-index">
 <%= render 'partials/searcher' %>
  <div class="tasks-container">
    <% @tasks.each do |task| %>
        <div class="task-container">
          <%= link_to task, class: "task #{'overdue' if task.due_date < Date.today }" do %>
            <div>
              <div class="priority priority-<%= task.priority %>"></div>
              <%= task.title %>
            </div>
            <div class="task-due-date">
              <i class="fa-solid fa-calendar-days"></i>
              <%= task.due_date.strftime('%d/%m') %>
            </div>
          <% end %>
          <%= link_to 'X', task, class:'delete-task', data: { confirm: "Estas por eliminar esta tarea ¿Estas seguro?" }, method: :delete %>
        </div>
    <% end %>
  </div>
  <div class="link-container">
    <%= link_to '+', new_task_path, class: 'task-new-btn' %>
  </div>
  <%= render 'partials/filter_component', tasks: @tasks, filt_selected: @filt_selected %>
</div>
