<div class="task-index">
  <%= form_tag(searcher_path, method: :get, class: 'task-searcher') do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Buscar...', value: '' %>
    <%= button_tag(type: 'submit', class: 'searcher-submit') do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
  <%= render 'partials/filter', tasks: @tasks, filt_selected: @filt_selected %>
  <div class="tasks-container">
    <% @tasks.each do |task| %>
        <%= link_to task, class: "task #{'overdue' if task.due_date < Date.today }" do %>
          <div>
            <div class="priority priority-<%= task.priority %>"></div>
            <%= task.title %>
          </div>
          <div class="task-due-date">
            <i class="fa-solid fa-calendar-days"></i>
            <%= task.due_date.strftime('%d/%m') %>
          </div>
        <% end %>
    <% end %>
  </div>
  <div class="link-container">
    <%= link_to '+', new_task_path, class: 'task-new-btn' %>
  </div>
</div>