<div class="task-index">
  <form action="" class="task-searcher">
    <input type="text" placeholder="Buscar tarea">
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
  <div class="tasks-container">
    <% @tasks.each do |task| %>
        <%= link_to task, class: "task task-#{ task.priority }" do %>
          <div>
            <div class="priority"></div>
            <%= task.title %>
          </div>
          <div class="task-due-date">
            <i class="fa-solid fa-calendar-days"></i>
            <%= task.due_date.strftime('%d/%m') %>
          </div>
        <% end %>
    <% end %>
    <%= button_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
  </div>
  <div class="link-container">
    <%= link_to '+', new_task_path, class: 'task-new-btn' %>
  </div>
</div>